@import "../_library";

.m-product-ft .active {
  .iconWish.\-\-filled {
    display: block;
  }

  .iconWish.\-\-outlined {
    display: none;
  }
}

.popup {
  opacity: 0;
  transition: 0.3s opacity;

  &.anim {
    animation: shinny 2s ease-in-out;

    @apply pointer-events-auto;
  }

  &:not(.anim) {
    @apply pointer-events-none;
  }
}

@keyframes shinny {
  0%,
  100% {
    opacity: 0;
  }

  30%,
  70% {
    opacity: 1;
  }
}
