@import "../_library";

.checkbox {
  @apply w-[20px] h-[20px] inline-block bg-[#e7e7e7];
}

input[type="checkbox"]:checked {
  & + span {
    &::before,
    &::after {
      content: "";

      @apply absolute w-[1px] top-1/2 left-1/2 bg-white;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(15deg);
      height: 14px;
      margin-left: 2px;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-15deg);
      height: 8px;
      margin-left: -1px;
      margin-top: 3px;
    }

    @apply text-white bg-[#d41c1c];
  }
}

.listItem {
  transition: 0.3s transform;

  &.active {
    transform: translateX(-54px);
  }
}
