.l-wrap {
  width: 375px;
}

.m-menu {
  transition: 0.3s opacity;

  &.show {
    @apply opacity-100 pointer-events-auto;
  }

  &:not(.show) {
    @apply opacity-0 pointer-events-none;
  }
}

.iconCart {
  &::before {
    line-height: 1.6;
    transform: translate(-50%, -50%);

    @apply absolute top-1/2 left-1/2 mt-[-22px] ml-[-11px] w-[20px] h-[20px] rounded-full bg-[#d41c1c] text-center text-white text-[12px];
  }
}

.active {
  &.iconCart {
    &::before {
      content: attr(data-type);
    }
  }
}

.activeBtn {
  &::before {
    content: "";

    @apply absolute top-0 left-0 w-full h-full opacity-0 bg-[#ffee36] bg-opacity-50;
  }

  &.anim {
    &::before {
      animation: shinny 0.8s ease-in-out;

      @apply pointer-events-auto;
    }
  }

  &:not(.anim) {
    &::before {
      @apply pointer-events-none;
    }
  }
}

@keyframes shinny {
  0%,
  100% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}
