.l-wrap {
  width: 375px;
}

.m-menu {
  transition: 0.3s opacity;

  &.show {
    @apply opacity-100 pointer-events-auto;
  }

  &:not(.show) {
    @apply opacity-0 pointer-events-none;
  }
}

.activeBtn {
  &::before {
    content: "";

    @apply absolute top-0 left-0 w-full h-full opacity-0 bg-[#ffee36] bg-opacity-50;
  }

  &.anim {
    &::before {
      animation: shinny 0.8s ease-in-out;

      @apply pointer-events-auto;
    }
  }

  &:not(.anim) {
    &::before {
      @apply pointer-events-none;
    }
  }
}

@keyframes shinny {
  0%,
  100% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}
