<div class="relative">
  <%- require('container/product.ejs')({
    img: require('imgs/product/macbook.png'),
    alt: 'macbook'
  }) %>
  <a href="mouthwash.html" class="activeBtn absolute mt-[1834px] ml-[91px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[182px] h-[262px]"></a>
</div>