<div class="relative">
  <%- require('container/product.ejs')({
    img: require('imgs/product/milkpowder.png'),
    alt: '克寧奶粉'
  }) %>
  <a href="mouthwash.html" class="activeBtn absolute mt-[1358px] ml-[94px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[182px] h-[262px]"></a>
</div>